@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-primary: #0d1224;
  --color-secondary: #9966ff;
  --color-tertiary: #060a17;

  --breakpoint-3xs: 320px;
  --breakpoint-2xs: 480px;
  --breakpoint-xs: 576px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1440px;
  --breakpoint-3xl: 1600px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.container {
  @apply mx-auto max-w-[92.5%] xs:max-w-[90%] sm:max-w-[85%];
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: var(--font-poppins);
    font-weight: 400;
  }

  button {
    cursor: pointer;
  }

  .no-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}

@layer utilities {
  .font-300 {
    font-family: var(--font-poppins);
    font-weight: 300;
  }
  .font-400 {
    font-family: var(--font-poppins);
    font-weight: 400;
  }
  .font-500 {
    font-family: var(--font-poppins);
    font-weight: 500;
  }
  .font-600 {
    font-family: var(--font-poppins);
    font-weight: 600;
  }
  .font-700 {
    font-family: var(--font-poppins);
    font-weight: 700;
  }
}
